---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="https://scholar.google.com/citations?user=Y12EgDgAAAAJ&hl=en">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<h2>Conference and Journal Publications</h2><hr />
{% for post in site.publications reversed %}
  {% if post.pub_section == 'workshops' %}
    {% continue %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}

<h2>Organized Workshops</h2><hr />
{% for post in site.publications reversed %}
  {% unless post.pub_section == 'workshops' %}
    {% continue %}
  {% endunless %}
  {% include archive-single.html %}
{% endfor %}



